# Desktop Services Store
*.DS_Store

# Object File 
*.o
#*.s
swtch.s
*.coff

# Binary 
nachos
coff2noff

# test folder
/code/test/*
!/code/test/*.c
!/code/test/*.h
!/code/test/*.s
!/code/test/Makefile

# Temp file
*.swp
*~

# VSCode related
.vscode
